@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-color: hotpink blue;
  scrollbar-width: 10%;
}

.navbar.hidden {
  transform: translateY(-100%); /* Slide out of view */
  opacity: 0;
}

.navbar.visible {
  transform: translateY(0); /* Slide into view */
  opacity: 1;
}